<!DOCTYPE html>
<html>
  <head>
    <style>
      body {
        text-align:center;
        font-family:Arial;
      }
      #changeroom {
        display:none;
      }
    </style>
  </head>
  <body>
    {% if loggedin %}
      <h1>Chat</h1>
      <h3>Hi {{session["username"]}}</h3>
      <div id="chat">
        <div id="messages"></div>
        <input id="input">
        <button onclick="send()">Send</button>
      </div>
      <h2 id="roomname">You are in the main room</h2>
      <button onclick="show()">Change Room</button>
      <div id="changeroom">
        <h3>Enter room name:</h3>
        <input id="newroomname">
        <button onclick="changeRoom()">Change</button>
      </div>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
      <script>
        const socket = io();
        const username = "{{session['username']}}";
        const input = document.getElementById("input");
        const messages = document.getElementById("messages");
        const newroomname = document.getElementById("newroomname");
        const roomname = document.getElementById("roomname");
        var room = "main";

        socket.emit("joined");

        function send(){
          socket.emit("message", username, room, input.value);
        }

        function show(){
          document.getElementById("changeroom").style.display = "block";
        }

        function changeRoom(){
          socket.emit("changeroom", newroomname.value);
          room = newroomname.value;
        }

        socket.on("message", data => {
          messages.innerHTML += `<br>${data.user}:${data.message}`
        });

        socket.on("room", words => {
          roomname.innerHTML = words;
        });
      </script>
    {% else %}
    <h1>Enter your username:</h1>
    <form action="/setusername" method="POST">
      <input name="username">
      <input type="submit">
    </form>
    {% endif %}
  </body>
</html>